.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 60px 0;
}

.sec .tit {
    margin: 0 auto 30px auto;
}

.sec .tit h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;
}

.sec .tit p {
    font-size: 15px;
    word-break: keep-all;
    line-height: 19px;
}

body {
    min-height: 150vh;
}

.wrap {}

.top_head {
    color: #fff;
    position: absolute;
    right: 361px;
    bottom: 45px;
    padding: 0 15px;

}

.top_head ul {
    gap: 30px;
    display: flex;
}


#header {
    border-bottom: 1px solid #ddd;
    height: 130px;
    z-index: 999999;
    background-image: linear-gradient(to right, #eb6ea5 0, #e4007f 30%, #601986 70%);
}




#header .inner {
    display: flex;
    /* align-items: center; */
    height: 100px;
    line-height: 100px;
}

#header a {
    display: block;
}

.logo {
    position: absolute;
    margin: 0 0 0 auto;
    color: #fff;
    width: 8%;
    right: 1400px;
    padding-top: 25px;
}


#header .gnb {
    margin: 0 0 0 auto;
    color: #fff;
    font-size: 22px;
    padding-top: 35px;

}

#header .gnb>ul {
    display: flex;
    gap: 100px;
}

#header .service {
    margin: 0 0 0 50px;
    color: #fff;
    display: flex;
    gap: 20px;
    font-size: 22px;
    padding-top: 35px;
}



#main_visual {
    position: relative;
    height: 1100px;

}





.slick-track,
.slick-list {
    transition-delay: 30ms;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

/* #header.on {
    background: #fff;
}

#header .inner {
    transition: 0.5s;
}

#header.on .inner {
    height: 100px;
}

#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li>a {
    display: block;
    line-height: 100px;
}

#header .gnb>ul>li .sub {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    border: 1px solid #ddd;
    background: #fff;
    text-align: center;
    line-height: 40px;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

#header .gnb>ul>li:hover .sub {
    top: 90px;
    opacity: 1;
    visibility: visible;
}

#header .gnb>ul>li .sub::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

#header .gnb>ul>li .sub li {
    position: relative;
    background: #fff;
}

#header .gnb>ul>li .sub li a {
    display: block;
} */



#header .gnb>ul>li .sub li~li {
    border-top: 1px solid #ddd;
}


.guide_tit span {

    position: relative;
    z-index: -999999;
    background: url(../images/main_sub_title_01.png) no-repeat center center / contain;
    width: 80px;

    color: transparent;
    padding-bottom: 35px;
    display: block;
    margin: 0 auto;
}

.tit_manu {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 30px 0 30px;
    padding-bottom: 80px;
    font-size: 19px;
    font-weight: 500;
    gap: 30px;

}

.tit_manu a {
    position: relative;
    border: 1px solid #222;
    border-radius: 10px;
    padding: 13px;





}



.tit_manu a:hover {


    transition: 0.8s;
    background: #e4007f;
    text-decoration: none;
    color: white;

}



.card {
    padding-bottom: 100px;
}

.card .inner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px 30px;
    max-width: 1200px;
    margin: 0 auto;

    padding: 0 15px;

}

.card .inner>* {
    position: relative;
    border-radius: 8px;
    padding: 30px;
    background: #f9f9f9;
}

/* .card .in_box {
    border-radius: 10px;

} */
.in_box h2 {}


.card .list li {
    position: relative;

}

.card .list li::before {

    content: "";
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    width: 600px;
    height: 600px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #e50048 40%, #0086ce 60%);
    animation: Ani 3s ease infinite;
    opacity: 0;
    transition: all 0.3s ease-in-out;


}


@keyframes Ani {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }
}






.card .list li:hover {


    transition: 0.1s;


}





.card .list li:hover::before {

    opacity: 1;



}

.card .list li .in_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    width: 95%;
    height: 95%;

}



.card .list h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 10px 0;
}

.card .nav {
    display: flex;
    max-width: 1200px;
    padding: 0 15px;
    height: 100px;
    margin: 0 auto 50px auto;
}

.card .nav>li {
    flex: 1;
}


.card .nav>li:hover::after {
    width: 100%;
}

.card .nav>li a {
    /* 요소를 가운데 오게하는 옛날 방식 */
    display: block;
    text-align: center;
    line-height: 100px;
}

.card .nav>li~li {
    border-left: 1px solid #ddd;
}

.box01 h3 {
    color: #585858;
}

.list {}


.guide .box {
    height: 180px;
    overflow: hidden;
}


.guide .inner .box1 .in_box {
    background: url(../images/bunsansibo.jpg) no-repeat center center /cover;
    border-radius: 10px;
}

.card .list {
    position: relative;
}

.inner .box1 h3 {
    position: absolute;
    left: 170px;
    top: 142px;
    font-size: 22px;
    color: white;
    font-weight: 800;
}


.inner .box2 h3 {
    position: absolute;
    left: 180px;
    top: 142px;
    font-size: 22px;
    color: white;
    font-weight: 800;
}

.inner .box3 h3 {
    position: absolute;
    left: 200px;
    top: 142px;
    font-size: 22px;
    color: white;
    font-weight: 800;
}

.inner .box4 h3 {
    position: absolute;
    left: 200px;
    top: 142px;
    font-size: 22px;
    color: white;
    font-weight: 800;
}


.inner .box2 .in_box {
    background: url(../images/soccer.jpg) no-repeat center center /cover;
    border-radius: 10px;
}


.inner .box3 .in_box {
    background: url(../images/tour_thum.jpg) no-repeat center center /cover;
    border-radius: 10px;
}


.inner .box4 .in_box {
    background: url(../images/main_2.jpg) no-repeat center center /cover;
    border-radius: 10px;
}






.footer {

    background: #f9f9f9;
    color: #222;
}

.footer .ft {
    border-bottom: 1px solid #666;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.footer .content .customer,
.sns {
    display: flex;

    align-items: center;
}

.footer .content address ul {}

.footer .content address ul li {
    padding-bottom: 5px;
}

.footer .content li strong {
    font-weight: 500;

}

.footer .customer li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #ccc;
    margin: 0 15px;
}

.footer address {
    font-style: normal;
}



/* .footer .content li:not(:last-child) {
    content: "/";
} */


.footer .sns {
    gap: 4px;
}


.footer .sns i {
    padding: 5px;
    font-size: 20px;

    background: #ccc;
}



.to_top i {
    position: absolute;
    right: 19.5%;
    bottom: -87%;
    background: black;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}