.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 100px 0;
}

.sec .tit {
    margin: 0 auto 30px auto;
}

.sec .tit h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;
}

.sec .tit p {
    font-size: 15px;
    word-break: keep-all;
    line-height: 19px;
}

body {
    min-height: 150vh;
}

.wrap {}

.top_head {
    color: #fff;
    position: absolute;
    right: 351px;
    bottom: 45px;
    padding: 0 15px;

}

.top_head ul {
    gap: 30px;
    display: flex;
}


#header {
    border-bottom: 1px solid #ddd;
    height: 130px;
    z-index: 999999;
    background-image: linear-gradient(to right, #eb6ea5 0, #e4007f 30%, #601986 70%);
}




#header .inner {
    display: flex;
    /* align-items: center; */
    height: 100px;
    line-height: 100px;
}

#header a {
    display: block;
}

.logo {
    margin: 0 0 0 auto;
    color: #fff;
    width: 11%;
    padding-top: 25px;
}


#header .gnb {
    margin: 0 0 0 auto;
    color: #fff;
    font-size: 22px;
    padding-top: 35px;

}

#header .gnb>ul {
    display: flex;
    gap: 80px;
}

#header .service {
    margin: 0 0 0 50px;
    color: #fff;
    font-size: 22px;
    padding-top: 35px;
}

#main_visual {
    position: relative;
    height: 1100px;

}





.slick-track,
.slick-list {
    transition-delay: 30ms;
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#header.on {
    background: #fff;
}

#header .inner {
    transition: 0.5s;
}

#header.on .inner {
    height: 100px;
}

#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li>a {
    display: block;
    line-height: 100px;
}

#header .gnb>ul>li .sub {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    border: 1px solid #ddd;
    background: #fff;
    text-align: center;
    line-height: 40px;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

#header .gnb>ul>li:hover .sub {
    top: 90px;
    opacity: 1;
    visibility: visible;
}

#header .gnb>ul>li .sub::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

#header .gnb>ul>li .sub li {
    position: relative;
    background: #fff;
}

#header .gnb>ul>li .sub li a {
    display: block;
}



#header .gnb>ul>li .sub li~li {
    border-top: 1px solid #ddd;
}


.guide_tit span {

    position: relative;
    z-index: -999999;
    background: url(../images/main_sub_title_01.png) no-repeat center center / contain;
    width: 80px;

    color: transparent;
    padding-bottom: 35px;
    display: block;
    margin: 0 auto;
}

.tit_manu {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    gap: 30px;
}

.tit_manu a {
    border: 1px solid #222;
    border-radius: 10%;
    padding: 13px
}


.card .inner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.card .inner>* {
    position: relative;
    border: 1px solid #222;
    border-radius: 10%;
    padding: 30px;
    background: #f9f9f9;
}

.customer .list li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;

    border-top: 1px solid red;
    border-left: 1px solid #0c4ca3;
    border-radius: 10%;
    visibility: hidden;

    transition: 0.5s;
}



.customer li:hover::before {
    width: 100%;
    height: 100%;

    visibility: visible;
}

.customer .list li::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;

    border-bottom: 1px solid #0c4ca3;
    border-right: 1px solid #0c4ca3;

    visibility: hidden;
    border-radius: 10%;
    transition: 0.5s;
}

.customer .list li:hover::after {
    width: 100%;
    height: 100%;

    visibility: visible;
}



.customer .list h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 10px 0;
}

.customer .nav {
    display: flex;
    max-width: 1200px;
    padding: 0 15px;
    height: 100px;
    margin: 0 auto 50px auto;
}

.customer .nav>li {
    flex: 1;
}

.customer .nav>li::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: #0c4ca3;
    margin: 0 auto;
    transition: 0.5s;

}

.customer .nav>li:hover::after {
    width: 100%;
}

.customer .nav>li a {
    /* 요소를 가운데 오게하는 옛날 방식 */
    display: block;
    text-align: center;
    line-height: 100px;
}

.customer .nav>li~li {
    border-left: 1px solid #ddd;
}


.footer {
    background: #444;
    color: #fff;
}

.footer .ft {
    border-bottom: 1px solid #666;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer .content ul {
    display: flex;
    align-items: center;
}

.footer .content li strong {
    font-weight: 500;
}

.footer .customer li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #ccc;
    margin: 0 15px;
}

.footer address {
    font-style: normal;
}



/* .footer .content li:not(:last-child) {
    content: "/";
} */


.footer .sns {
    gap: 4px;
}


.footer .sns i {
    padding: 5px;
    font-size: 20px;

    background: #222;
}

.footer .link {
    gap: 10px;
}

#fl {
    outline: none;
    border: 1px solid #ddd;
    padding: 5px 20px;
    background: #369;
    color: #fff;
}

.family_link2 {
    position: relative;
}

.family_link2 span {
    display: block;
    width: 150px;
    line-height: 30px;
    padding: 0 15px;

    border: 1px solid #ddd;
    background: #333;
    color: #fff;

    user-select: none;
    cursor: pointer;
}

.family_link2 span i {
    float: right;
    line-height: 30px;
}

.family_link2 span.on i {
    transform: rotate(180deg);
}

.family_link2 .fl2 ul {
    position: absolute;
    bottom: 31px;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
    border: 1px solid #ddd;

    display: none;
    flex-direction: column;
    align-items: stretch;
}

.family_link2 .fl2 ul.on {
    display: flex;
}

.family_link2 .fl2 ul a {
    display: block;
    line-height: 30px;
    padding: 0 15px;
}

.family_link2 .fl2 ul li~li {
    border-top: 1px solid #ddd;
}


.to_top i {
    background: black;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}